.profile {
  background-color: white;
  border-bottom-left-radius: 20px;
  border: 1px solid lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.your_profile_text {
  text-align: center;
}
